# auto install vs code
this script seems to have worked but cant be certain as it hasn't been fully tested.
## the two AIs
the two AIs are chat gpt and googles bard
